
/* Import reset CSS */
/*@import url("reset.css");*/


/* -------- General styles -------- */
body {
  background-image: url("../images/cork-wallet.png");
  background-repeat: repeat;
  font-family: 'Karla', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #727272;
}

/* Fixing bootstrap's fugliness */
* {
  line-height: 1;
  font-size: 16px;
}

h1 {
  color: #367C79; /* #4aaaa5 doesn't meet WCAG 2.0 contrast requirements */
  font-family: 'Raleway', 'Georgia', Times, Times New Roman, serif;
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  color: #367C79; /* #4aaaa5 doesn't meet WCAG 2.0 contrast requirements */
  font-family: 'Raleway', 'Georgia', Times, Times New Roman, serif;
  font-size: 1.3em;
  font-weight: bold;
}

a {
  color: #0000b3;
  text-decoration: underline;
}

hr {
  color: #cccccc;
  margin-bottom: 15px;
}

.sub-text {
  font-size: .8em;
}


a:visited {

}
/* -------------------------------- */



/* ------------ Header ------------ */
#headerbar {
  background-color: #FFFFFF;
  border-bottom: 2px solid #cccccc;
  /*margin-bottom: 30px;*/
  padding: 0 calc(10% - 20px);
}

.navbar-right {
  margin-right: 0px;
}

.navbar-brand {
  position: absolute;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: #367C79;
  color: white;
}

.navbar-default .navbar-nav>li>a {
    border: 1px solid white;
}

@media (min-width: 768px){
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}

nav a::first-letter {
  border-bottom: 1px solid #0000b3;
  padding-bottom: .01em;
}

#logo {
  background-color: #367C79;
  color: white;
  font-size: 1.3em;
  font-family: 'Raleway', 'Georgia', Times, Times New Roman, serif;
  margin-left: -5px;
  display: inline-block;
  text-shadow: 1px 1px #333333;
}

/* -------------------------------- */



/* ------- Social media box ------- */
#social-media-wrapper {
  text-align: center;
}

#social-media {
  display: inline-block; /* Center div when it reaches max width */
  background-color: #FFFFFF;
  border: 1px solid #dddddd;
  flex: 1 1 20%;
  min-width: 180px;
  text-align: center;
  align-self: flex-start;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 25px;
  margin-bottom: 50px;
  max-width: 350px;
  border-radius: 10px;
}

h2.social-media {
  margin-left: auto;
  margin-right: auto;
}

hr.social-media {
  max-width: 94%;
}

.sm-icon {
  padding: 0px;
  margin: 0px;
  width: 31%;
  height: auto;
}

.sm-icon:hover {
  width: 35%;
  margin: -2%;
}
/* -------------------------------- */



/* ---- Main area and flexbox ----- */
#main-content {
  background-color: #FFFFFF;
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 20px;
  padding-top: 0;
  margin-bottom: 50px;
}

/* -------------------------------- */



/* ----------- Biography ---------- */
.bio-img {
    margin-right: 15px;
    margin-bottom: 15px;
}

/* Works without media query but isn't ideal to have a super
narrow column of text on the right.  */
@media (min-width: 650px) {
  .bio-img {
    max-width: 300px;
  }
}

@media (max-width: 649px) {
  .bio-img {
    width: 100%;
  }
}

/* -------------------------------- */



/* --------- Form styles ---------- */
form {
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  box-sizing: border-box;
  resize: none;
  padding: .4em;
  margin-top: .3em;
  font-family: 'Karla', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

button[type=submit] {
  margin-bottom: 1em;
}

button[type=submit]:hover, button[type=submit]:focus {
  color: white;
  background-color: #367C79;
}

.required:before {
  position: absolute;
  margin-left: -10px;
  content: "* ";
  color: #C00000;
}

/* Placeholder text styling snipped from https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/Placeholder_Research */
-webkit-input-placeholder {
  color: #767676;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #767676;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19 */
  color: #767676;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #767676;
  opacity: 1;
}
/* -------------------------------- */


/* I'm still using flex for the portfolio because while I could use
Bootstrap to make rows and columns, what I really want is for the
portfolio to dynamically allocate items such that the number of items
per row will change depending on the width of the screen.  I guess I
could try sticking them all in one row and let the number of columns
handle the wrapping when it exceeds 12... seems kludgey though.  Flex
is *designed* for this. */

/* Portfolio styles */

#portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -15px;
}

.portfolio-item {
  flex-grow: 1;
  flex-basis: 200px;
  width: 200px;
  min-width: 200px;
  max-width: 300px;
  margin: 15px;
  position: relative;
}

@media (max-width: 599px) {
  .portfolio-item {
    width: 100%;
    max-width: 100%;
  }
}

.portfolio-filler { /* 0-height boxes for last row spacing */
  flex-grow: 1;
  flex-basis: 200px;
  width: 200px;
  height: 0px;
  min-width: 200px;
  max-width: 300px;
  margin-left: 15px;
  margin-right: 15px;
}

.portfolio-item-img {
  width: 100%;
}

.portfolio-item-label {
  position: absolute;
  top: 72%;
  width: 90%;
  background: #367C79;
  color: #FFFFFF;
  text-align: center;
  padding: 4%;
  margin: 0;
  font-size: 1em;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
}


/* Footer styling */

footer {
  left: 0;
  bottom: 0;
  height: 50px;
  background-color: #666666;
  color: #FDFDFD;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  width: 100%;
  border-top: 10px solid #367C79;
  position: absolute;
}

/* I had this as a sticky footer at first and decided it was bad
because no one cares about a copyright being visible all the time. */

#page-wrapper {
  /*padding-bottom: 60px;*/
  position: relative;
  min-height: 100%;
  /*margin-top: 85px;*/
}

#wrapper {
  padding-bottom: 60px;
  margin-top: 85px;
}

html, body {
  height: 100%;
}

 /*
 * Responsive text aligning
 * http://ohryan.ca/2014/08/14/set-responsive-text-alignment-bootstrap-3/
 */
 @media (max-width: 767px) {
  .text-xs-left { text-align: left; }
  .text-xs-right { text-align: right; }
  .text-xs-center { text-align: center; }
  .text-xs-justify { text-align: justify; }
}

@media (min-width: 768px) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}


